# Perfil de entorno: dev_local | dev_lan | production
ENVIRONMENT=dev_local

PROJECT_NAME="Backend Taller Narbus"
VERSION="0.1.0"
API_V1_STR="/api/v1"

# Servidor (Opcional, sobrescribe los valores del perfil)
# HOST=127.0.0.1
# PORT=8000

# Seguridad JWT (En producción se recomienda inyectar desde Secret Manager)
SECRET_KEY=narbus_secret_key_taller_2026_super_secure_jwt_token_change_in_prod
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Database Configuration (Neon PostgreSQL en Producción / Local en Dev)
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=narbus_local
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/narbus_local

# Control de Migraciones Automáticas en Contenedor (true|false)
RUN_MIGRATIONS=true

# Configuración de Almacenamiento en la Nube (Google Cloud Storage)
# Proveedor: "gcs" (Google Cloud Storage) o "local" (almacenamiento en disco local /uploads)
STORAGE_PROVIDER=local
GCS_BUCKET_NAME=narbus-taller-media
GCS_PROJECT_ID=narbus-production
# Ruta a la clave JSON de la Service Account (solo requerida en desarrollo local con STORAGE_PROVIDER=gcs)
# GOOGLE_APPLICATION_CREDENTIALS=credentials/gcp-sa-key.json
